.App {
  text-align: center;
}

h1
{
  background-color: black;
  color:aliceblue;
}
.table
{
  background-color: rgb(194, 192, 192);
 
}
button{
  background-color: rgb(114, 235, 140);
  margin-bottom: 2px;
}